<div class="container">
  <div class="row d-flex justify-content-center mt-4 mb-4">
    <h2>Sample App</h2>
  </div>
  <div class="row d-flex justify-content-center mt-4 mb-4">
    <button (click)="getPetsData()" class="btn btn-primary">Refresh</button>
  </div>
  <div class="row d-flex justify-content-center">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Gender</th>
        <th scope="col">Cats</th>
      </tr>
      </thead>
      <tbody *ngIf="petsByGender">
      <tr *ngFor="let item of petsByGender; let index = index; ">
        <td>{{item.gender}}</td>
        <td>
          <ul>
            <li *ngFor="let cat of item.pets; let index = index; ">
              {{cat}}
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
</div>
